.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#delete {
  width: 20px;
}

.villes {
  border: 1px lightgrey solid;
  padding: 20px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}


