body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.form-group {
  display: flex;
}
#formGroupExampleInput {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;

}

.btn {
  width: 120px;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#delete {
  width: 20px;
}

.villes {
  border: 1px lightgrey solid;
  padding: 20px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}


.navbar {
  background-color:#333300;
}

#logo {
  color: white;
}

#deco {
  color:#3366ff;
}