body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}


.add-city {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 40px 0;
}

.form-control {
  width: 75%;
}

.btn {
  width: 25%;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#delete {
  width: 20px;
}

.picto {
  width: 40px;
}

#update {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin: 15px 0;
}

#refresh {
  width: 15px;
  margin-left:5px;
}

.villes {
  border: 1px lightgrey solid;
  padding: 20px 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-top: -1px;
  align-items: center;
}




